/* Define the initial style for the link */
.zoom-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077b6;
  color: #ffffff;
  text-decoration: none; /* Remove the underline */
  transition: transform 0.3s; /* Add a smooth transition effect */
}

/* Define the hover effect for the link */
.zoom-link:hover {
  transform: scale(1.2); /* Zoom in by 20% */
}

p { margin:0 }
