/* Define the initial style for the link */
.zoom-link {
  text-decoration: none; /* Remove the underline */
  transition: transform 0.3s; /* Add a smooth transition effect */
}

/* Define the hover effect for the link */
.zoom-link:hover {
  transform: scale(1.2); /* Zoom in by 20% */
}

p { margin:0 }
